@page
@model Evaluator.Pages.Evaluation.IndexModel
@{
}
<!--Create a form that runs through all of the applications in the database and allows the evaluator to click on them-->
<header>

</header>
<body>
<table>
	<thead>
		<tr>
			<th>
				Application Id
			</th>

			<th>
				&nbsp;
			</th>
		</tr>
	</thead>
	<tbody>
@foreach (var obj in Model.objEvaluationHeadList)
{
	<tr>
		<td >@obj.ApplicationId</td>


		

	</tr>
}
<tr></tr>
			@foreach (var obj in Model.objCritList)
			{
				<tr>
					<td >@obj.CritId</td>
					<td >@obj.Name</td>
					<td >@obj.Description</td>
					<td >@obj.Weight</td>

				</tr>
			}
</tbody>
</table>
</body>