@page
@model Evaluator.Pages.Evaluation.IndexModel
@{
}
<!--Create a form that runs through all of the applications in the database and allows the evaluator to click on them-->
<header>

</header>
<body>
<table>
	<thead>
		<tr>
			<th>
					Application Id&nbsp;
			</th>

			<th>
					Judges Id&nbsp;
			</th>
		</tr>
	</thead>
	<tbody>
@foreach (var obj in Model.objEvaluationHeadList)
{
	<tr>
		<td >@obj.ApplicationId</td>
					<td>@obj.JudgesId</td>

		

	</tr>
}
			<tr>
				<th>
					CritId
				</th>
				<th>
					Name
				</th>
				<th>
					Description
				</th>
				<th>
					Weight
				</th>
			</tr>
			@foreach (var obj in Model.objCritList)
			{
				<tr>
					<td >@obj.CritId</td>
					<td >@obj.Name</td>
					<td >@obj.Description</td>
					<td >@obj.Weight</td>

				</tr>
			}
</tbody>
</table>
</body>