@page
@model Evaluator.Pages.Criterias.IndexModel

<div class=" = container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Criteria List</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-page="Create" class="btn btn-primary">
				<i class="bi bi-journal-plus"></i> &nbsp;Create New Criteria

			</a>
		</div>
	</div>

	<br /><br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Criteria Id
				</th>
				<th>
					Criteria Name
				</th>
				<th>
					Criteria Description
				</th>
				<th>
					Criteria Weight
				</th>
			</tr>

		</thead>

		<tbody>

			@foreach (var obj in Model.Criterias)
			{
				<tr>
					<td>@obj.CritId	</td>
					<td>@obj.Name	</td>
					<td>@obj.Description	</td>
					<td>@obj.Weight	</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-page="Edit" asp-route-id="@obj.CritId" class="btn btn-primary mx-2">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a asp-page="Delete" asp-route-id="@obj.CritId" class="btn btn-primary mx-2">
								<i class="bi bi-trash-fill"></i>
							</a>
						</div>

					</td>
				</tr>
			}

		</tbody>
	</table>

</div>